# Ignore the heavy stuff we don't want on GitHub
node_modules/
*.exe
*.bak
.env
.env.*

# But ALLOW Git to see your actual project work
!stitch_resume_upload_analysis_bak/
!index.html
!src/
!public/
!LICENSE
!.gitignore
!README.md